<div class="row" style="margin-top:25px;">
  <div class="col-md-3">
    <app-task-group [tasks]='done' [title]="'Done'" [color]="'primary'"></app-task-group>
  </div>
  <div class="col-md-3">
   <app-task-group  [tasks]='open' [title]="'Open'" [color]="'danger'"></app-task-group>
 </div>
 <div class="col-md-3">
   <app-task-group [tasks]='on_going' [title]="'On Going'" [color]="'success'"></app-task-group>
 </div>
 <div class="col-md-3">
   <app-task-group [tasks]='hold' [title]="'Hold'" [color]="'info' "></app-task-group>
 </div>
 <div class="col-md-3">
   <app-task-group [tasks]='cancelled' [title]="'Cancelled'" [color]="'warning' "></app-task-group>
 </div>
</div>
