<div class="container-fluid">
    <div class="row">

        <div class="col-md-2 bg-light">
            <nav class="nav flex-column">
                <a routerLink="list" class="nav-link" routerLinkActive="active">List of Users</a>
                <a routerLink="profile" class="nav-link" routerLinkActive="active">Profile</a>
                <a class="nav-link" href="#">Anything</a>
              </nav>
        </div>
        <div class="col-md-10">
                  <router-outlet></router-outlet>
        </div>
    </div>

</div>
